packer-provisioner-windows-update-mac
packer-provisioner-windows-update-linux
packer-provisioner-windows-update.exe
packer-provisioner-windows-update-*.tgz
packer-provisioner-windows-update-*.zip
tmp*
bindata.go
.idea/
