name: Build
on: [push, pull_request]
jobs:
  build:
    name: Build
    runs-on: windows-2022
    steps:
      - name: Configure git
        run: git config --global core.autocrlf false
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: actions/setup-go@v6
        with:
          go-version: '1.25.1'
      - name: Set up msys2
        uses: msys2/setup-msys2@v2
        with:
          install: make tar zip unzip
          path-type: inherit
      - name: Import GPG key
        id: import_gpg
        uses: crazy-max/ghaction-import-gpg@v6
        with:
          gpg_private_key: ${{ secrets.GPG_PRIVATE_KEY }}
          passphrase: ${{ secrets.GPG_PASSPHRASE }}
      - name: Build
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GPG_FINGERPRINT: ${{ steps.import_gpg.outputs.fingerprint }}
        run: msys2 ./ci-release.sh
      - name: Archive
        uses: actions/upload-artifact@v4
        with:
          name: artifacts
          path: |
            dist/
            !dist/*/*
