name: Build
on: [push, pull_request]
jobs:
  build:
    name: Build
    runs-on: windows-2022
    steps:
      - name: Configure git
        run: git config --global core.autocrlf false
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: actions/setup-go@v6
        with:
          go-version: '1.25.1'
      - name: Set up msys2
        uses: msys2/setup-msys2@v2
        with:
          install: make tar zip unzip
          path-type: inherit
      - name: Build
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: msys2 ./ci-release.sh
      - name: Archive
        uses: actions/upload-artifact@v4
        with:
          name: packer-plugin-windows-update-${{ github.ref_name }}
          path: |
            dist/
            !dist/*/*
