name: Release Packer Plugin

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.22'

      - name: Build plugins
        run: |
          # Windows
          GOOS=windows GOARCH=amd64 go build -o packer-plugin-windows-update.exe
          zip packer-plugin-windows-update_${GITHUB_REF_NAME}_x5_windows_amd64.zip packer-plugin-windows-update.exe

          # Linux
          GOOS=linux GOARCH=amd64 go build -o packer-plugin-windows-update
          zip packer-plugin-windows-update_${GITHUB_REF_NAME}_x5_linux_amd64.zip packer-plugin-windows-update

      - name: Generate SHA256SUMS
        run: |
          sha256sum *.zip > packer-plugin-windows-update_${GITHUB_REF_NAME}_SHA256SUMS

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          overwrite: true
          files: |
            *.zip
            *_SHA256SUMS
